.contact{
    display: flex;
    min-height: 100vh;
    align-items: center;
    &__container{
        position: relative;
    }

    &__corner{
        background-color: $darkBlue;
    }

    & span{
        padding-right: 1rem;
    }
    &__title{
        position: relative;
        display: inline-block;
        padding-left: 7rem;
        transform: translateX(-7rem);
    }
    &__heading{
        color: $darkBlue;
        display: inline-block;
        padding-left: 7rem;
        margin-right: -7rem;
        transform: translateX(-7rem);
        text-decoration: none;
        position: relative;
        font-size: 4.5rem;
    }

    &__line&__corner {
        content: "";
        position:absolute;
        left: 0;
        bottom: 5px;
        width: 0;
        height: 2px;
        background: $darkBlue;
        transition: all ease .6s;

            &.showCorner {
            width: 100%;
            }
        }

    & a{
        position: relative;
        color: black;
        &::after {
        content: "";
        position:absolute;
        left: 0;
        bottom: 0px;
        width: 0;
        height: 2px;
        background: black;
        -webkit-transition: all ease .2s;
        -o-transition: all ease .2s;
        transition: all ease .2s;
        }

        &:visited{
            color: black;
        }
        &:link{
            text-decoration: none;
        }
        &:hover{
            font-weight: 600; 
        }
        &:hover::after {
        width: 100%;
        }
    }
}