.hero{
    width: 100%;
    height: 80vh;
    background-image: linear-gradient( to bottom, rgba(149, 210, 254, 0.82), rgba(149, 210, 254, 0.82)), url("../../assets/images/hero.jpg");
    background-size: cover; 
    position: relative;

    &__heading{
        font-size: 3rem;
        margin: 0;
        background-color: $darkBlue;
        color: white;
        display: inline-block;
        padding: 1rem;
        
        &--1{
            position: absolute;
            top: 30%;
            left: 2rem;
        }
        &--2{
            position: absolute;
            top: 50%;
            left: 15rem;
        }
    }
}