.portfolio{
    position: relative;
    &__heading{
        color: white;
        background-color: $darkBlue;
        display: inline-block;
        padding-right: 10vw;
        padding-bottom: 4rem;
        padding-left: 4rem;
        transform: translateX(-7rem);
        text-decoration: none;
        position: relative;
        font-size: 4.5rem;
    }

    &__heading::after {
	content: "";
    position:absolute;
	left: 0;
	bottom: 4.5rem;
	width: 0;
	height: 2px;
	background: white;
	-webkit-transition: all ease .4s;
	-o-transition: all ease .4s;
	transition: all ease .4s;
    
    }

    &__heading:hover::after {
	width: 215px;
}

}