.portfolio{
    background-color: $darkBlue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
    &__title{
        position: relative;
        display: inline-block;
        padding-left: 7rem;
        transform: translateX(-7rem);
    }
    &__heading{
        color: white;
        display: inline-block;
        padding-left: 7rem;
        margin-right: -7rem;
        transform: translateX(-7rem);
        text-decoration: none;
        position: relative;
        font-size: 4.5rem;
    }

    &__corner {
        content: "";
        position:absolute;
        left: 0;
        bottom: 5px;
        width: 0;
        height: 2px;
        background: white;
        transition: all ease .6s;

            &.showCorner {
            width: 100%;
            }
        }

        
    &__grid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2,40vh);
        grid-gap: 2rem;

    }
}