body{
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    margin: 0;
}

.heading{
    font-size: 4.5rem;
    color: $darkBlue;
    text-decoration: underline;
    margin-bottom: 2rem;
}

.main-text{
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.5;
}