.wrapper{
    margin-left: 3rem;
}

.inner-wrapper{
    padding-left: 4rem;
    padding-right: 4rem;
}

.t-margin-large{
    margin-top: 4rem;
}
.t-margin-medium{
    margin-top: 2rem;
}
.t-padding-medium{
    padding-top: 2rem;
}
.b-padding-medium{
    padding-bottom: 2rem;
}